html {

}

body {

}

#email, #password {
  height: 27px;
  width: 311px;
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 1px;
  border-radius: 7px;
  text-align: start;
  padding-left: 7px;
  font-size: 12px;

}

#login {
  height: 33px;
  width: 328px;
  margin-top: 18px;
  margin-left: 28px;
  margin-right: 28px;
  font-size: 11px;
  border-radius: 7px;
  margin-bottom: 2px;
  background-color: #6684d8;

}

.first-main-div {
  margin-left: 23%;
  margin-right: 25%;
  margin-top: 27px;
  height: 600px;
  width: 756px;
  float: left;
  background-color: #e2dede;
  border: 2px solid #817777;
  padding-bottom: 41px;
  padding-top: 41px;

}

.first-main-div-cover {
  background-color: black;
  height: 439px;
  width: 248px;
  margin-left: 64px;
  margin-top: 76px;
  margin-bottom: -117px;
}

.first-main-div-screen-one {
  height: 140px;
  width: 197px;
  background-color: #2C2D41;
  position: absolute;
  margin-right: 27px;
  margin-left: 27px;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 70px;
}

.second-main-div-cover {
  height: 527px;
  width: 376px;
  float: right;
  background-color: black;
  margin-top: -361px;
  margin-right: 58px;
  margin-bottom: 10px;
}

.second-main-div-screen-one {
  height: 137px;
  width: 318px;
  background-color: #3C3B43;
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
