html {

}

body {

}

#main-div {
  background-color: #656b6d;
  padding: 2px solid black;
  height: 790px;
  width: 1010px;
  margin-top: 40px; 
  margin-left: 23%;
  margin-right: 23%;
  margin-bottom: 37px;
  padding-bottom: 1px;
  padding-top: 39px;

}

#image-section {
  width: 422px;
  height: 394px;
  float: left;
  margin-left: 22px;
  margin-right: 1px;
  background-color: black;
}

#information-section {
  padding-left: 14px;
  width: 525px;
  height: 538px;
  float: left;
  font-size: 17px;
  line-height: 22.3px;
  margin-left: 6px;
  margin-right: 2px;
  background-color: #ffffff
}

#search-text {
  width: 622px;
  font-size: 16px;
  margin-top: 40px;
  border-radius: 7px;
  margin-left: 22px;
  height: 47px;
  font-size: 15px;
  line-height: 5px;
  text-align: center;
  text-indent: 8px;
  color: black;
}

#search-btn {
  height: 47px;
  margin-left: 23px;
  border-radius: 7px;
  width: 216px;
  font-size: 13px;
}
